.sound-editor-aFilter
    & > .checkbox
        width 10rem
        flex-grow 0
    range-selector
        display block
        padding-right 2px
        box-sizing border-box
    range-selector + range-selector
        margin-top 0.5rem
    & + .sound-editor-aFilter
        margin-top 0.75rem

.sound-editor-Columns
    align-items stretch

.sound-editor-aBand
    width 3rem
    flex-grow 0

.sound-editor-aWrapper
    max-width 1200px
    width 100%
    margin 0 auto
